
[Service]
name=getty
description=Poyo Login Terminal
type=simple
exec_start=/sbin/poyo
autostart=true
restart=always
restart_delay=1
clear_screen=true
foreground=true

[Dependencies]
after=network

